/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 4, 2014, 10:19:55 AM
    Author     : nickdecker
*/
input, select { margin: 1px; padding: 3px 5px; }
//#hh-autocomplete-spacer { display: inline-block; width: 150px; }
#imc-autocomplete-container { position: relative; margin-left: 125px; }
.imc-autocomplete { min-width: 300px; max-width: 400px; display: none; padding: 10px; cursor: pointer; list-style-type: none; background: #fff; position: absolute; z-index: 100; margin-top: 0px; left: -42px; }
.create-event .imc-autocomplete { left: 4px;}
.imc-autocomplete li { padding: 5px 10px; max-width: 300px; }
.imc-autocomplete li:hover, .auto-focus { background: #0074a2; }
.imc-autocomplete li:hover span, .auto-focus span { color: #fff; }
.small_input { width: 75px; }



.venues-edit li { cursor: pointer; }

.bandcol label { width: 40%; float: left; display: block; }
.band-name-container {
    width: 100%;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -moz-column-gap: 5px;
    -ms-column-count: 3;
    -ms-column-gap: 5px;
    -webkit-column-count: 3;
    -webkit-column-gap: 5px;
    column-count: 3;
    column-gap: 5px;
}
.center { text-align: center; }



.edit-band, .approve-item { cursor: pointer; }
.approve-events { }
