/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 13, 2014, 2:31:48 PM
    Author     : nickdecker
*/

.feedback { color: green; }
.error { color: red; }
label > div > label { padding: 0; }
// Xdebug
th { background: #01bcf2!important; }
th span { color: #fff!important; background: #000!important; }
td { color: #000!important; }

tbody tr:nth-child(odd) {
  background: #E7E7E7;
}
.cursor{ cursor: pointer; }
.hidden { display: none; }

#delete_happy_hours tr:hover { background: #0074a2; }
#hh_response { color: red; }

.slider-row label { display: block; margin: 10px 0;}
.slider-row .label { display: inline-block; width: 100px; }

.paid-slider { width: 100%; max-width: 1130px; }
.paid-slider img { width: 100%; margin-top: -257px; }
.paid-slider-content { background: #009dd7; border-radius: 0 0 15px 15px; color: #fff; width: 100%; float: right; }
.paid-slider-content h2 { font-size: 2.7em; margin: 0; padding: 15px 15px 0 15px; color: #fff; font-weight: 700; }
.paid-slider-content span.smaller { font-size: .5em!important; }
.paid-slider-content #hh-hours { float: right; }
.paid-slider h3 { color: #fff; font-size: 1.7em; line-height: normal; vertical-align: top; margin-top: 15px; text-align: center; padding-bottom: 15px; }
.paid-slider-specials, .paid-slider-hh { width: 40%; display: inline-block; padding: 5px 15px 0 15px; }
.paid-slider .image-container { max-height: 350px; border-radius: 15px 15px 0 0; overflow: hidden; }
label span.label-active { display: inline-block; margin: 20px 10px 0 0; }
div.updated { display: none; }




/* Login */
body.login div#login h1 a { background: none!important; }
body.login #nav a { font-size: 1.5em; }
body.login #nav a:last-child  { display: inline-block!important; }



/* ads */


